@charset "UTF-8";
/* CSS Document */
/**
BARRA DE NAVAGACI�N
**/

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-image: url("images/Fondo_pag1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  font-family: "Lato-Bold", sans-serif;
  font-weight: bold;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
h3 {
  font-family: "Lato-Bold", sans-serif;
}

.navbar-text {
  color: white;
}

.navinicio {
  margin-left: 17px;
}
.navfestival {
  padding-left: 40px;
  margin-left: 60px;
}
.navescuela {
  margin-left: 52px;
}
.divbtnnavlog {
  padding-left: 5px;
}
.navnosotras {
  padding-left: 25px;
  margin-left: 25px;
}
.navcatalogo {
  margin-left: 15%;
}

.logonav {
  margin-left: 16px;
}
nav.navbar {
  padding-left: 6.25%;
}
li.nav-item > a:hover {
  color: black;
}
li.nav-item > div.dropdown-menu {
  background-color: black;
}
li.nav-item > div.dropdown-menu > a {
  color: white;
}
li.nav-item > div.dropdown-menu > a.dropdown-item:hover {
  background-color: transparent;
  text-shadow: 0px 0px 20px white;
}

.navbar.center .navbar-inner {
  text-align: center;
}
.navbar-collapse.collapse.show {
  background: none;
  border: 1px solid white;
}

span.navbar-toggler-icon {
  display: flex;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.orangerect {
  width: 100%;
  height: 100px;
  background-color: #ff4334;
  padding-left: 100px;
}

.btn-login {
  font-family: "Lato-Bold", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.btnnavlog {
  padding-left: 10px;
}

.logo_center {
  padding-top: 10%;
}
/**
	CENTRO BODY
**/

.card-title {
  position: absolute;
  bottom: 25px;
  color: white;
  margin-left: 0.75rem;
}

.card-text {
  position: absolute;
  bottom: 20px;
  color: white;
  margin-left: 0.75rem;
}

.card {
  margin-bottom: 3rem;
}

.row.padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.row.black-div {
  margin: 5px 0px 15px 0px;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  background: black;
}

.black-div > * {
  color: white;
  padding: 5px 15px 5px 15px;
  width: 100%;
}

.school-banner {
  max-width: 100%;
}

.display-banner {
  position: relative;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 25px;
}

.banner-title {
  position: absolute;
  top: 15px;
  color: white;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 70px;
  color: white;
  width: 100%;
}

/**
CATALOGO
**/

.cuadro-amarillo {
  border: 7px solid yellow;
  margin: 20px 20px;
  width: 200px;
  height: 100px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 12px;
  position: relative;
}

.fuente-blanca {
  color: white;
  font-weight: bold;
}

.global-container {
  max-width: 377px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (min-width: 425px) {
  .global-container {
    max-width: 704px;
  }
}

@media (min-width: 769px) {
  .global-container {
    max-width: 960px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: yellow;
  border-radius: 0;
}

.cuadro-amarillo:hover .overlay {
  opacity: 1;
}

/**
	FOOTER
**/

.footer {
  padding-top: 2%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 15%;
}
