/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
  margin-bottom: -7px;
}

.footer-size {
  height: 150px;
  width: 100%;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 56px;
}

.navbar > div {
  width: 100%;
}

.footer .logos {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .social {
  width: 235px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.footer .social a {
  height: 60px;
}

.footer .social img {
  margin-left: 5px;
}

.footer .logos {
  width: 190px;
  margin-bottom: 10px;
}

.footer .logos a {
  height: 40px;
}

.navbar-expand-lg .navbar-collapse.menu-mobile {
  display: flex;
}

.collapse:not(.show).menu-mobile {
  display: none;
}

.navbar-expand-lg .navbar-collapse.menu-desktop {
  display: none;
}

.imagenes-logos {
  width: 60%;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b !important;
  text-decoration: none;
  background-color: #f8f9fa;
}

@media (min-width: 426px) {
  /** tablet **/
  .navbar > div {
    width: 100%;
  }
  .imagenes-logos {
    width: 60%;
  }
  .footer-size {
    height: 150px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  /** desktop **/
  .navbar > div {
    width: 1000px;
  }
  .footer .container {
    width: 1000px;
  }
  .footer .logos {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer .social {
    width: 415px;
  }
  .navbar-expand-lg .navbar-collapse.menu-mobile {
    display: none !important;
  }
  .navbar-expand-lg .navbar-collapse.menu-desktop {
    display: flex;
  }
  .imagenes-logos {
    width: 100%;
  }
  .footer .social img {
    margin-left: 0px;
  }
  .footer-size {
    height: 100px;
    width: 100%;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-end;
  padding-top: 5px;
}

.contacto {
  line-height: initial;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  font-size: 10px;
}

/* -------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}

code {
  font-size: 80%;
}

/* IMAGEN DE FONDO */

.imagen-fondo {
  background-image: url("images/fondo2_medium_transparent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.imagen-fondo-catalogo {
  background-image: url("images/Fondo_pag1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-nav {
  background-color: #ff453d;
}

.background-nav-black {
  background-color: black;
}

.text-black {
  color: #000000;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary.active,
.btn-secondary.active:focus,
.btn-secondary.active:hover {
  background-color: #000000;
  border-color: #000000;
}

/* --------- INDEX -----------*/

.boton-blanco {
  border: 5px solid white;
  background: transparent;
  color: white;
  padding: 12px;
  font-weight: bold;
  margin: 10px 0px;
}

/* ------- IMAGEN CENTRO -----*/

.imagen-medio {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.imagecenter {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
}

.imagecenter div {
  display: flex;
  flex-direction: column;
}

.imagen-centrada {
  max-width: 100%;
  min-width: 165px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.imagen-centrada img {
  display: none;
}

.imagen-negra > img:hover + button {
  display: none;
}

@media (min-width: 426px) {
  .imagen-centrada {
    max-width: 100%;
    min-width: 165px;
    padding: 0px 4px;
    flex-direction: column;
  }
  .imagen-centrada img {
    display: flex;
  }
  .imagecenter > div {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  .imagen-centrada {
    max-width: 100%;
    min-width: 165px;
    padding: 0px 8px;
  }
  .imagen-centrada img {
    display: flex;
  }
}

/* ----- catalogo -----*/

.cuadro-amarillo {
  border: 7px solid yellow;
  margin: 20px 20px;
  width: 200px;
  height: 100px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 12px;
  position: relative;
}

.fuente-blanca {
  color: white;
  font-weight: bold;
  text-align: center;
}

.global-container {
  max-width: 377px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (min-width: 425px) {
  .global-container {
    max-width: 704px;
  }
}

@media (min-width: 769px) {
  .global-container {
    max-width: 960px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: yellow;
  border-radius: 0;
}

.cuadro-amarillo:hover .overlay {
  opacity: 1;
}

.overlay-orange {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease;
  border-radius: 0;
}

.imagen-centrada:hover .overlay-orange {
  opacity: 1;
}

.muestra1 {
  display: flex;
}

.muestra2 {
  display: none;
}

/* ---- FORMULARIO -----*/

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  border: 2px solid yellow;
  border-radius: 10px !important;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: white;
  background-color: transparent;
  border: 2px solid yellow;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
  color: white;
  font-weight: bold;
}

.btn-formulario.btn.btn-primary,
.btn-formulario.btn.btn-primary:hover,
.btn-formulario.btn.btn-primary.active,
.btn-formulario.btn.btn-primary.active:focus,
.btn-formulario.btn.btn-primary.active:hover {
  background-color: yellow;
  border-radius: 8px;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  border-color: yellow;
  font-weight: bold;
}

@media (min-width: 769px) {
  /** desktop **/
  .container-formulario {
    width: 60%;
  }
}
